<html>
<head><title>Home Page</title></head>
<body>
    <h1>Hello !</h1>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <p><a th:href="@{/genPass}" th:text="${genPassMsg}" /></p>
</body>
</html>