<html>
<head><title>Home Page</title></head>
<body>
    <h1>Hello !</h1>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <p>The generate hashed password is <span th:text="${pass}">Hash</span></p>
    <p>The generate hash is <span th:text="${hash}">Hash</span></p>
</body>
</html>